header{
    width: 100%;
    height: 174px;
    position: relative;
}

.info{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    justify-content: space-between;
    padding: 20px 10px;
}

.song-img{
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.song-img>img{
    width: 80%;
    max-width: 130px;
}

.song-text{
    flex: 3;
    padding-left: 15px;
}

.song-text>h2{
    color: white;
    font-weight: normal;
    font-size: 17px;
    margin-bottom: 15px;
}

.song-text>p{
    display: inline-block;
    vertical-align: middle;
    font-size: 14px;
    color: white;
}

.avatar{
    display: inline-block;
    vertical-align: middle;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 50px;
}
.avatar>img{
    width: 100%;
}

.bg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg>img{
    width: 120%;
    filter: blur(20px);
}

.hotsong {
    margin-bottom: 10px;
}

.hotsong a{
    width: 100%;
    display: inline-block;
    position: relative;
    height: 48px;
    z-index: 13;
    border-bottom: 1px solid #f8f3eb;
}

.u-smtitle {
    height: 23px;
    line-height: 23px;
    padding: 0 10px;
    font-size: 12px;
    color: #666;
    background-color: #eeeff0;
}
.hotsong li{
    padding-left: 40px;
}

.num{
    position: absolute;
    transform: translate(40%,50%);
    font-size: 17px;
    text-align: center;
    color: #999
}
/* 排名前三标记 */
.num-red{
    color: #df3436;
}

.song-title-container{
    width: 90%; 
    display: flex;
    justify-content: flex-start;
}

.song-title>p{
    margin-top: 3px;
    width: 100%;
    color: #333;
    margin-right: 10px;
}

.song-des{
    margin-top: 3px;
    flex: 1;
    overflow: hidden;
    color: grey;
    white-space: nowrap;
}

.song-des>p{
    overflow: hidden;
    text-overflow: ellipsis;
}

.singer{
    width: 85%;
    font-size: 13px;
    color: grey;
    /* 超出显示范围用...代替 */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.play-icon{
    width: 22px;
    height: 22px;
    background: url(/img/index_icon_2x.png) no-repeat;
    background-size: 166px 97px;
    background-position: -24px 0;
    position: relative;
    right: -10px; 
    top: 50%; 
    transform: translateY(50%);
}

.sqicon{
    width: 12px;
    height: 8px;
    background: url(/img/index_icon_2x.png) no-repeat;
    background-size: 166px 97px;
    display: inline-block;
    vertical-align: middle;
    transform: translateY(-20%);
    margin-right: 5px;
}

.introduction{
    margin-bottom: 10px;
    height:135px;
    color: gray;
    position: relative;
}
.inner{
    height: 120px;
    padding: 10px;
    overflow: hidden;
}
.introduction-title{
    font-size: 12px;
    margin-bottom: 10px;
}

.introduction-title>span{
    border: 1px solid rgb(233, 233, 233);
    border-radius: 12px;
    padding: 4px 9px;
    margin-right: 5px;
}

.introduction-text{
    line-height: 20px;
}

.introduction-text>img{
    position: absolute;
    filter: opacity(45%);
    width: 20px;
    height: 20px;
    right: 1px;
    bottom: 1px;
    transition: transform 0.4s;
}


.up{
    transform: rotate(180deg);
}

.down{
    transform: rotate(0deg);
}



.comment{
    border-bottom: 1px solid rgb(233, 233, 233);
}

.user-cmt{
    padding-top: 10px;
    display: flex;
    position: relative;
}

.user-head{
    height: 35px;
    margin: 0 10px;
    flex: none;
}

.user-head>a{
    display: block;
    text-decoration: none;
}

.user-head img{
    margin-left: 5px;
    border: 0;
    display: block;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.cmt_header{
    padding-left: 0;
}

.cmt_wrap {
    padding-right: 10px;
    padding-bottom: 11px;
    padding-left: 10px;
    flex: auto;
    width: 0;
    /* display: flex; */
}

.cmt_header{
    display: flex;
    flex-direction: row;
}

.cmt_meta {
    -webkit-flex: auto;
    -webkit-box-flex: 1;
    flex: auto;
    width: 0;
    font-size: 0;
}

.cmt_user {
    max-width: 100%;
    display: inline-flex;
    align-items: center;
}

.cmt_user a {
    font-size: 14px;
    color: #666;
    line-height: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -webkit-box-flex: 1;
    -webkit-flex: auto;
    flex: auto;
}

.cmt_time {
    font-size: 9px;
    color: #999;
}

.cmt_like {
    width: 65px;
    height: 22px;
    line-height: 22px;
    font-size: 11px;
    color: #999;
    -webkit-flex: none;
    -webkit-box-flex: 0;
    flex: none;
    text-align: right;
}
.cmt_likearea {
    display: inline-block;
    min-width: 30px;
    padding-left: 5px;
}
.cmt_count {
    vertical-align: middle;
}
.cmt_likeicn {
    display: inline-block;
    width: 14px;
    height: 14px;
    margin-left: 6px;
    line-height: 0;
    vertical-align: middle;
    cursor: pointer;
}

.cmt_content {
    margin-bottom: 10px;
    color: #333;
    font-size: 15px;
    line-height: 22px;
    margin-top: -10px;
    padding-left: 65px;
    padding-right: 20px;
        
}
.cmt_text {
    vertical-align: middle;
    
}